# Pyhton DSA Questions

1 - What are data structures, and why are they important?
  - A data structure is a way of organizing, storing, and managing data so that it can be used efficiently.
Think of it like a container that not only holds data but also defines how you can access and manipulate that data.

2 - Explain the difference between mutable and immutable data types with examples?
  - Mutable Data Types

 Meaning: Mutable means changeable.

 Once created, the content of a mutable object can be modified (elements can be added, removed, or updated).

 In Python, common mutable data types are:

 List ([ ])

 Dictionary ({ })

 Set ({ })

 bytearray

 Immutable Data Types

 Meaning: Immutable means unchangeable.

 Once created, the content of an immutable object cannot be modified. Any change creates a new object in memory.

 In Python, common immutable data types are:

 String ("hello")

 Tuple (( ))

 Frozen set (frozenset)

 Numbers (int, float, complex)

 bool

3 - What are the main differences between lists and tuples in Python?

 - Mutability → List = changeable, Tuple = fixed.

 Syntax → List = [ ], Tuple = ( ).

 Performance → Tuple faster, List slower.

 Methods → List has many, Tuple has only 2.

 Hashable → List , Tuple .

4 - Describe how dictionaries store data

  - A dictionary in Python is an unordered collection of key–value pairs.
 Internally, it is implemented using a data structure called a hash table.

5 - Why might you use a set instead of a list in Python?
  - Uniqueness of Elements

 Set → Automatically removes duplicates.

 List → Allows duplicates.

 Faster Membership Testing

 Checking if something exists (in) is much faster in sets because they use hash tables.

 In lists, membership requires scanning each element (O(n)).

 In sets, membership is on average O(1).

 Mathematical Set Operations

 Sets support union, intersection, difference operations directly. Lists don’t.

6 - What is a string in Python, and how is it different from a list?
  - A string is a sequence of characters enclosed in single ('), double ("), or triple quotes (''' """).

7 - How do tuples ensure data integrity in Python
  - Immutability (Cannot be Changed)

 Tuples are immutable, meaning once created, their contents cannot be modified (no add, remove, or update).

 This immutability ensures that the data stays consistent throughout the program.   

8 - What is a hash table, and how does it relate to dictionaries in Python3
  - A hash table is a data structure that stores key–value pairs and allows very fast data retrieval.

9 - Can lists contain different data types in Python
  - in Python, lists can contain elements of different data types.

 That’s because Python lists are heterogeneous collections, meaning each element can be any object (int, float, string, list, dict, even custom objects).

10 - Explain why strings are immutable in Python
  - Memory Efficiency (String Interning)

 Python often reuses the same string objects (called string interning).
 Hashability (Safe for Dictionary Keys & Sets)

 Immutable objects can be hashed, which is required for dictionary keys and set elements.

 Since strings are immutable, they can safely be used as keys:

11 - What advantages do dictionaries offer over lists for certain task
  - Dictionaries (dict) and Lists (list) are both powerful, but dictionaries are better for certain tasks.
  
  Fast Lookups (O(1) vs O(n))

  Key–Value Mapping

 List → Stores only values, accessed by index (0, 1, 2...).

 Dictionary → Stores pairs (key: value), making data more meaningful.

12 - Describe a scenario where using a tuple would be preferable over a list
  -  Scenario Where a Tuple is Better Than a List

 A tuple is preferable when:

 You want a fixed collection of values.

 You want to ensure data integrity (no accidental modifications).

 You need the data to be hashable (usable as dictionary keys or set elements).

13 -  How do sets handle duplicate values in Python
   -  How Sets Handle Duplicates in Python

 A set is an unordered collection of unique elements.

 If you try to add a duplicate value into a set, Python automatically ignores it — the set only keeps one copy.

14 -  How does the “in” keyword work differently for lists and dictionaries
   -  1. in with Lists

 In a list, in checks whether a value exists in the list.

 It scans elements one by one → linear search (O(n)).

 2. in with Dictionaries

 In a dictionary, in checks whether a key exists (NOT the value).

 Lookup is very fast because dictionaries use a hash table → O(1) average time.

15 - Can you modify the elements of a tuple? Explain why or why notP
   - No, you cannot directly modify the elements of a tuple.

 Tuples are immutable (unchangeable).

 Once a tuple is created, you cannot add, remove, or change its items.

 Data Integrity → Tuples are often used for fixed collections of data (like coordinates, days of the week). Immutability ensures the data isn’t changed accidentally.

 Hashability → Because tuples are immutable, they can be used as keys in dictionaries or elements in sets (lists can’t be).

16 -  What is a nested dictionary, and give an example of its use case
   -  A nested dictionary is a dictionary inside another dictionary.

 It allows storing data in a hierarchical or structured way.

 Think of it like: main dictionary → sub-dictionaries → values.

17 - Describe the time complexity of accessing elements in a dictionary
   - Python dictionaries are implemented using hash tables.
Because of this, accessing an element by key is very efficient.

 Average Case:

 O(1) → Constant time.

 Lookup is almost instant since the key’s hash value is computed, and the element is directly located.

 Worst Case:

 O(n) → Linear time.

 This happens rarely, when many keys collide (i.e., have the same hash bucket), forcing Python to search through a chain of items.

 Python’s hashing mechanism and resizing strategy make this unlikely.

18 - In what situations are lists preferred over dictionaries
   - Use a list instead of a dictionary when:

 You care about order.

 You only need values, not key–value mapping.

 Data is simple, small, or index-based.

 Duplicates are needed.

 Fast iteration is more important than key-based lookup.

19 - Why are dictionaries considered unordered, and how does that affect data retrieval
  -  Dictionaries were unordered collections → meaning they did not guarantee the order of items when you inserted or retrieved them.

  The reason: dictionaries are built on hash tables.

 Keys are stored based on their hash value, not the order in which you add them.

 This makes fast lookup (O(1)) possible, but order wasn’t preserved.

20 - Explain the difference between a list and a dictionary in terms of data retrieval.
  - 1. Lists (Index-Based Retrieval)

 Lists store data in an ordered sequence.

 Retrieval is done using numeric indexes (positions).

 Time Complexity:

 Access by index → O(1) (fast, direct).

 Searching for a value → O(n) (you may need to scan the whole list).  

 . Dictionaries (Key-Based Retrieval)

 Dictionaries store data as key–value pairs.

 Retrieval is done using the key, not position.

 Time Complexity:

 Access by key → O(1) average (very fast, thanks to hashing).

 Searching for a value (without knowing the key) → O(n).

In [1]:
#1 - Write a code to create a string with your name and print it


name = "Parth Kharola"


print(name)

Parth Kharola

In [2]:
#2 - Write a code to find the length of the string "Hello World"

string = "Hello World"

print(len(string))

11

In [3]:
#3 - Write a code to slice the first 3 characters from the string "Python Programming"

string = "Python Programming"

print(string[0:3])

Pyt

In [4]:
#4 - Write a code to convert the string "hello" to uppercase

string = "hello"

print(string.upper())

HELLO

In [5]:
#5 - Write a code to replace the word "apple" with "orange" in the string "I like apple"


string = "I like apple"

print(string.replace("apple", "orange"))

I like orange

In [6]:
#6 - Write a code to create a list with numbers 1 to 5 and print it

list = [1,2,3,4,5]

print(list)

[1, 2, 3, 4, 5]

In [7]:
#7 - Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]

list.append(10)

print(list)

[1, 2, 3, 4, 10]

In [8]:
#8 - Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]


list = [1,2,3,4,5]

list.remove(3)

print(list)

[1, 2, 4, 5]

In [9]:
#9 - Write a code to access the second element in the list ['a', 'b', 'c', 'd']

list = ['a', 'b', 'c', 'd']

print(list[1])

b

In [10]:
#10 - Write a code to reverse the list [10, 20, 30, 40, 50]

numbers = [10, 20, 30, 40, 50]

numbers.reverse()

print(numbers)

[50, 40, 30, 20, 10]

In [11]:
#11 -  Write a code to create a tuple with the elements 100, 200, 300 and print it.


numbers = (100, 200, 300)

print(numbers)

(100, 200, 300)

In [12]:
#12 - Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').


colors = ('red', 'green', 'blue', 'yellow')

print(colors[-2])

blue

In [13]:
#13 - Write a code to find the minimum number in the tuple (10, 20, 5, 15)

numbers = (10, 20, 5, 15)

print(min(numbers))

5

In [14]:
#14 - Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')


animals = ('dog', 'cat', 'rabbit')

print(animals.index("cat"))

1

In [15]:
#15 - Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [16]:
#16 - Write a code to create a set with the elements 'a', 'b', 'c' and print it.

letters = {'a', 'b', 'c'}

print(letters)

{'a', 'b', 'c'}

In [17]:
#17 - Write a code to clear all elements from the set {1, 2, 3, 4, 5}


numbers = {1, 2, 3, 4, 5}

numbers.clear()

print(numbers)

set()

In [18]:
#18 - Write a code to remove the element 4 from the set {1, 2, 3, 4}.


numbers = {1, 2, 3, 4}

numbers.remove(4)

print(numbers)

{1, 2, 3}

In [19]:
#19 -  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5}

In [20]:
#20 - Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print(intersection_set)

{2, 3}

In [21]:
#21 - Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {
    "name": "John",
    "age": 30,
    "city": "New York"
}

print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [22]:
#22 -  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

person = {'name': 'John', 'age': 25}

person['country'] = 'USA'

print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [23]:
#23 -  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}

print(person['name'])

Alice

In [24]:
#24 -  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

del person['age']

print(person)

{'name': 'Bob', 'city': 'New York'}

In [25]:
#25 - Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [26]:
#26 - Write a code to create a list, a tuple, and a dictionary, and print them all.


my_list = [10, 20, 30]

my_tuple = (100, 200, 300)

my_dict = {"name": "John", "age": 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30]
Tuple: (100, 200, 300)
Dictionary: {'name': 'John', 'age': 25}

In [27]:
#27 -  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the results.

import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Random Numbers:", random_numbers)

Random Numbers: [13, 20, 24, 55, 99]

In [28]:
#28 - Write a code to create a list with strings and print the element at the third index.


strings = ["apple", "banana", "cherry", "date", "elderberry"]

print(strings[3])

date

In [30]:
#29 -  Write a code to combine two dictionaries into one and print the result.

dict1 = {"name": "John", "age": 25}
dict2 = {"country": "USA", "city": "New York"}

combined_dict = {**dict1, **dict2}

print(combined_dict)
combined_dict = dict1 | dict2


print(combined_dict)

{'name': 'John', 'age': 25, 'country': 'USA', 'city': 'New York'}
{'name': 'John', 'age': 25, 'country': 'USA', 'city': 'New York'}

In [31]:
#30 -  Write a code to convert a list of strings into a set

fruits_list = ["apple", "banana", "cherry", "apple", "banana"]


fruits_set = set(fruits_list)

print(fruits_set)

{'banana', 'apple', 'cherry'}